.backgroundPane {
    -fx-background-image: url(../Backgrounds/menus_background.jpg);
}

.back-button {
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0.3, 0, 0);
}

.back-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0.7, 0, 0);
}

.combo-box {
    -fx-background-color: rgba(94, 255, 106, 0.91);
}

.combo-box:hover{
    -fx-background-color: rgba(69, 181, 78, 0.63);
    -fx-cursor: hand;
}